.Pagination {
    width: 80%;
    height: 50px;  

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.PaginationCell {
    width: 45px;
    height: 45px;
    box-shadow: 0 0 1px 1px lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    
    &:hover {
        box-shadow: 0 0 2px 2px lightblue;
        cursor: pointer;
    }
}