.Card {
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-between;   

    &:hover {
        box-shadow: 0 0 1px 1px lightblue;
    }
}