.Header {
    height: 50px;
    position: absolute;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;    
    justify-content: center;

    & ul {
        width: 100%;
        margin-left: 60%;         
        & li {
          margin-top: 50px;
          margin-left: 20px;           
          list-style-type: none;
          display: inline;          
        }
    }

}
